deployment:
  replicas: 2

ingressRoute:
  dashboard:
    entryPoints:
      - internal
    matchRule: Host(`traefik.int.${domain}`)
    middlewares:
      - name: middleware-auth

ports:
  ssh:
    port: 2222
    expose:
      default: true
    exposedPort: 22
    protocol: TCP
  web:
    redirectTo:
      port: websecure
  websecure:
    middlewares:
      - traefik-middleware-compress@kubernetescrd
      - crowdsec-middleware-bouncer@kubernetescrd
    http3:
      enabled: true
      advertisedPort: 443
  internal:
    port: 9443
    expose:
      default: true
    exposedPort: 8443
    protocol: TCP
    tls:
      enabled: true
    forwardedHeaders:
      trustedIPs:
        - "10.0.0.0/8"
    proxyProtocol:
      trustedIPs:
        - "10.0.0.0/8"
    middlewares:
      - traefik-middleware-internal-ip@kubernetescrd

logs:
  access:
    enabled: true

metrics:
  prometheus:
    serviceMonitor:
      namespaceSelector: {}

providers:
  kubernetesCRD:
    allowCrossNamespace: true

resources:
  requests:
    cpu: 100m
    memory: 384Mi
  limits:
    cpu: 2000m
    memory: 384Mi

experimental:
  plugins:
    bouncer:
      moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
      version: v1.3.0
