apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: middleware-ip
  namespace: ${namespace}
spec:
  ipWhiteList:
    sourceRange:
%{ for ip in whitelisted_ips ~}
      - ${ip}
%{ endfor ~}
