prometheus:
  servicemonitor:
    enabled: true

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 1000m
    memory: 128Mi

webhook:
  resources:
    requests:
      cpu: 100m
      memory: 32Mi
    limits:
      cpu: 1000m
      memory: 32Mi

cainjector:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 1000m
      memory: 256Mi
